@model List<EntityLayer.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<table class="table table-bordered mt-1">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklama</th>
        <th>Kategori Durumu</th>
        <th>Kategori İşlemleri</th>

    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.CategoryId</th>
                <td>@item.CategoryName</td>
                <td>@item.CategoryDescription</td>
                <td>@(item.CategoryStatus==true?"Aktif":"Pasif")</td>
                <td>
                    <a asp-action="DeleteCategory" class="btn btn-sm btn-danger" asp-route-id="@item.CategoryId">Sil</a>
                    <a class="btn btn-sm btn-warning" asp-route-id="@item.CategoryId" asp-action="EditCategory">Güncelle</a>
                    <a  class="btn btn-sm btn-primary" asp-route-id="@item.CategoryId">Başlıklar</a>
                </td>



            </tr>
        }

    </tbody>
</table>